.loader{
    display: flex;
    justify-content: center;
}

.loader span{
    font-size: 24px;
}

.loader span:nth-child(1){
    animation: load 0.5s ease-in-out infinite;
}

.loader span:nth-child(2){
    animation: load 0.5s 0.15s ease-in-out infinite;
}

.loader span:nth-child(3){
    animation: load 0.5s 0.25s ease-in-out infinite;
}



@keyframes load{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}